.blueBand {
  background-color: #0282f9;
  padding: 40px 0;
}

.blueContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blueItem {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.blueItem img {
  height: 50px;
}
