.footer{
  padding: 50px 0;
  color: white;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerLinks {
  display: flex;
  gap: 3rem;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer li {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
  cursor: pointer;
}

.footer li:hover {
  color: white;
}

.footerImg {
  width: 450px;
  opacity: 0.3;
}