.header {
    background-color: white;
}

.headerFlex {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 4rem;
    margin: 0 auto;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 40px 0;
    display: inline-block;
}