* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: white;
  background-image: url(/footer-bg.jpg);
  background-size: cover;
}


/*********************Header CSS*****************************/

header {
  background-color: white;
}

.flex-container {
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

#logo {
  height: 4rem;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 40px 0;
  display: inline-block;
  position: relative;
}

/************************Main CSS******************************/

main {
  background-color: black;
  color: white;
}

main h2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;

}

/*************************BlueBand Section****************************************/

.blue-band {
  background-color: #0282f9;
  padding: 40px 0;
}

.blue-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blue-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.blue-item img {
  height: 50px;
}

/*******************Footer CSS************************************/

.footer-top {
  
  padding: 50px 0;
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 3rem;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer-links li {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-links li:hover {
  color: white;
}

.footer-logo img {
  width: 450px;
  opacity: 0.3;
}